# Core Libraries
pandas==2.2.2
numpy==1.26.4
matplotlib==3.9.2
seaborn==0.13.2

# Machine Learning
scikit-learn==1.5.2
lightgbm==4.3.0
joblib==1.4.2

# Web Application
streamlit==1.38.0

# Utility / Optional
plotly==5.23.0
python-dateutil==2.9.0
